header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  /* background: #dddddd center center
    url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg"); */
  background: #dddddd center center
    url("https://caocaoluveat.net/wp-content/uploads/2018/04/1%E7%94%A8%E9%A4%90%E7%92%B0%E5%A2%83.png");
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
body {
  background-color: #f3c37b;
}

.fa-readme {
  color: #30d9ca;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

.fa-edit {
  color: #30d9ca;
  cursor: pointer;
}

.fa-trash {
  color: #30d9ca;
  cursor: pointer;
  background-color: transparent;
  border-style: none;
}

.fa-home {
  color: #30d9ca;
  cursor: pointer;
}

.card-body .fa-heart {
  color: red;
  cursor: pointer;
}

.card-body .englishName {
  color: rgb(14, 88, 105);
  background-color: rgb(255, 255, 255);
  text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px,
    rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px,
    rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px,
    rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px,
    rgba(0, 0, 0, 0.15) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px,
    rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.1) 0px 20px 20px;
}
.card-body .englishName {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px,
    rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
}

#trach-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-style: none;
}

#trach-button:focus {
  outline: 0px;
}

#home-button {
  color: #fff;
  text-decoration: none;
}

.btn-group {
  /* margin-left: 15px; */
  padding-left: 15px;
}

#login-card {
  background: rgba(255, 255, 255, 0.7);
}

#login-card-btn {
  border-radius: 50%;
}
#login-page-submitBtn,
#login-page-registerBtn {
  border-radius: 30px;
  /* border: 1px solid #eee; */
}
